<!-- navbar -->
<nav class="navbar is-transparent shadow">
  <div class="navbar-brand">
      <div class="navbar-item">
        <div class="field is-grouped">
          <p class="control">
            <a class="button is-primary" href="http://intive-fdv.com.ar/">
              <span>intive FDV</span>
            </a>
          </p>
        </div>
      </div>
  </div>

  <div id="navbarExampleTransparentExample" class="navbar-menu">
    <div class="navbar-start">
      <p class="navbar-item">
        Héctor Polanco
      </p>
    </div>
  </div>
</nav>
<!-- end navbar -->

<br><br><br>

<!-- container-fluid -->
<div class="container"><p *ngIf="!loaded" >waiting for 'https://restcountries.eu/rest/v2/all'... </p></div>
<div class="container-fluid" *ngIf = "loaded">

  <!-- container -->
  <div class="container">

      <p class="is-pulled-right tag is-link">ultima actualización:<strong class="has-text-white">&nbsp; {{ (lastUpdate | async) | date: 'mediumTime' }}</strong>&nbsp;| visitantes: <strong class="has-text-white">&nbsp; {{ (users | async).length }}</strong></p>
      <br><br>

       <!-- columns -->
    <div class="columns is-desktop">
        
      <!-- left column -->
      <div class="column">
        <div class="field">
          <label class="label">Nombre</label>
          <div class="control">
            <input class="input" type="text" placeholder="... Juan Pérez" [(ngModel)] = "user.name" name="name" #name = "ngModel">
          </div>
        </div>
        
        
        <div class="field">
          <label class="label">País</label>
          <div class="control">
            <div class="select">
              <select [(ngModel)]="user.country" name="country" #country = "ngModel">
                <option value="{{ country }}" *ngFor="let country of countries">{{ country }}</option>
              </select>
            </div>
          </div>
        </div>
        <div class="field">
          <div class="columns">
            <div class="column">
                <label class="label">Fecha de nacimiento</label>
                <div class="control">
                  <input class="input" type="date" (change) = "greet($event)">
                </div>
            </div>
            <div class="column"></div>
          </div>
        </div>
        <p *ngIf="!isValid" >{{ warning }}</p>
        <br>
        <p *ngIf="!validUser" >Has olvidad escribir tu nombre o seleccionar un pais!</p>
        <div class="field is-grouped">
          <div class="control">
            <button class="button is-link" (click) = "newUser()">Saludar</button>
          </div>
        </div>
      </div>
      <!-- end left column -->
  
  
      <!-- right column -->
      <div class="column">
        <br>
        <app-user-overview></app-user-overview>
              
      </div>
      <!-- end right column -->
  
    </div>
    <!-- end columns -->
  </div>
  <!-- end container -->
    
</div>
<!-- end container-fluid -->