<nav class="panel">
  <p class="panel-heading">
    visitantes anteriores
  </p>
  <p class="panel-block" *ngIf = "!(users | async).length">...</p>
  <a class="panel-block bounceIn" *ngFor="let i of users | async" (click) = "hello(i)">
    <span class="panel-icon">
      <i class="far fa-user"></i>
    </span>
    {{ i.name }}
  </a>
</nav>